<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Manage Items</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Manage Items</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-12">

        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Item Information</h3>

          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col col-12">
                <form #frmItems="ngForm" (ngSubmit)="saveItem()">
                  <p class="form-group">
                    <label for="txtCode">Item code</label>
                    <input [disabled]="manuallySelected" name="txtCode" [(ngModel)]="selectedItem.id" id="txtCode"
                           class="form-control">
                  </p>

                  <p class="form-group">
                    <label for="txtDescription">Description</label>
                    <input name="txtDescription" [(ngModel)]="selectedItem.name" id="txtDescription" class="form-control">
                  </p>

                  <p class="form-group">
                    <label for="txtQty">Qty</label>
                    <input name="txtQty" [(ngModel)]="selectedItem.qtyOnHand" id="txtQty"
                           class="form-control">
                  </p>

                  <p class="form-group">
                    <label for="txtPrice">Unit Price</label>
                    <input name="txtPrice" [(ngModel)]="selectedItem.unitPrice" id="txtPrice"
                           class="form-control">
                  </p>

                  <div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    &nbsp;
                    <button (click)="clear()" type="button" class="btn btn-warning">Clear</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

      </div>
      <div class="col-md-6 col-12">
        <table id="tblCustomers" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Item code</th>
            <th>Description</th>
            <th>Qty On Hand</th>
            <th>Unit Price</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of items | paginate: { itemsPerPage: 7, currentPage: p }"
              (click)="selectItem(item)" [class.selected]="item==selectedItem">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.qtyOnHand}}</td>
            <td>{{item.unitPrice}}</td>
            <td>
              <i (click)="deleteItem(item)" class="fa fa-trash fa-2x"></i>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="4">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

